*save
*working
*tmp
*reset
*test
add*
archive_rrfs_cmaq_bicornc_qsub.sh
archive_rrfs_cmaq_chem_sfc_qsub.sh_ver0
archive_v7o3pmcsv_daily_static_qsub.sh
archive_v7o3pmraw_daily_static_qsub.sh
nrt1_metplus_aq.template_Bukovsky_G148
nrt1_metplus_aqmax.template_Bukovsky_G148
nrt2_metplus_aq.template_Bukovsky_G148
nrt2_metplus_aqmax.template_Bukovsky_G148
readme.txt
retro_metplus_aq.template_Bukovsky_G793_s1
retro_metplus_aq.template_Bukovsky_G793_s2
retro_metplus_aq.template_Bukovsky_G793_s3
retro_metplus_aq.template_Bukovsky_G793_s4
retro_metplus_aq.template_Bukovsky_G793_s5
retro_metplus_aqmax.template_Bukovsky_G793_s1
retro_metplus_aqmax.template_Bukovsky_G793_s2
retro_metplus_aqmax.template_Bukovsky_G793_s3
retro_metplus_aqmax.template_Bukovsky_G793_s4
retro_metplus_aqmax.template_Bukovsky_G793_s5
run_metplus_aq.template_Bukovsky_G793_only_ozcon1
runtest.sh
scp.sh
spsync1.sh
submit_aq_Bukovsky_G148_nrt1.sh
submit_aq_Bukovsky_G148_nrt2.sh
submit_aq_Bukovsky_G148_test.sh
submit_aq_Bukovsky_G793_retros1.sh
submit_aq_Bukovsky_G793_retros2.sh
submit_aq_Bukovsky_G793_retros3.sh
submit_aq_Bukovsky_G793_retros4.sh
submit_aq_Bukovsky_G793_retros5.sh
submit_aq_Bukovsky_G793_v7nrt1.sh
submit_aq_Bukovsky_G793_v7nrt2.sh
submit_aq_Bukovsky_G793_v7retro.sh
submit_aq_Bukovsky_G793_v7retro2.sh
submit_aq_Bukovsky_G793_v7retro3.sh
submit_aq_Bukovsky_G793_v7retro4.sh
submit_aq_Bukovsky_G793_v7retro5.sh
submit_aq_Bukovsky_G793_v7retro6.sh
submit_aq_Bukovsky_G793_v7retro7.sh
submit_aq_Bukovsky_G793_v7retro8.sh
submit_aqmax_Bukovsky_G148_nrt1.sh
submit_aqmax_Bukovsky_G148_nrt2.sh
submit_aqmax_Bukovsky_G148_test.sh
submit_aqmax_Bukovsky_G793_retros1.sh
submit_aqmax_Bukovsky_G793_retros2.sh
submit_aqmax_Bukovsky_G793_retros3.sh
submit_aqmax_Bukovsky_G793_retros4.sh
submit_aqmax_Bukovsky_G793_retros5.sh
submit_aqmax_Bukovsky_G793_v7nrt1.sh
submit_aqmax_Bukovsky_G793_v7nrt2.sh
submit_aqmax_Bukovsky_G793_v7retro.sh
submit_aqmax_Bukovsky_G793_v7retro2.sh
submit_aqmax_Bukovsky_G793_v7retro3.sh
submit_aqmax_Bukovsky_G793_v7retro4.sh
submit_aqmax_Bukovsky_G793_v7retro5.sh
submit_aqmax_Bukovsky_G793_v7retro6.sh
submit_aqmax_Bukovsky_G793_v7retro7.sh
submit_aqmax_Bukovsky_G793_v7retro8.sh
submit_cam_Bukovsky_G793_retros1.sh
submit_cam_Bukovsky_G793_retros2.sh
submit_cam_Bukovsky_G793_retros3.sh
submit_cam_Bukovsky_G793_retros4.sh
submit_cam_Bukovsky_G793_retros5.sh
v7nrt1_metplus_aq.template_Bukovsky_G793
v7nrt1_metplus_aqmax.template_Bukovsky_G793
v7nrt2_metplus_aq.template_Bukovsky_G793
v7nrt2_metplus_aqmax.template_Bukovsky_G793
v7retro2_metplus_aq.template_Bukovsky_G793
v7retro2_metplus_aqmax.template_Bukovsky_G793
v7retro3_metplus_aq.template_Bukovsky_G793
v7retro3_metplus_aqmax.template_Bukovsky_G793
v7retro4_metplus_aq.template_Bukovsky_G793
v7retro4_metplus_aqmax.template_Bukovsky_G793
v7retro5_metplus_aq.template_Bukovsky_G793
v7retro5_metplus_aqmax.template_Bukovsky_G793
v7retro6_metplus_aq.template_Bukovsky_G793
v7retro6_metplus_aqmax.template_Bukovsky_G793
v7retro7_metplus_aq.template_Bukovsky_G793
v7retro7_metplus_aqmax.template_Bukovsky_G793
v7retro8_metplus_aq.template_Bukovsky_G793
v7retro8_metplus_aqmax.template_Bukovsky_G793
v7retro_metplus_aq.template_Bukovsky_G793
v7retro_metplus_aqmax.template_Bukovsky_G793
z.sh
